{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <span class="logo">Polls Application</span>
        {% if request.user.is_authenticated %}




        {% endif %}

        <span class="user">
        {% if request.user.is_authenticated %}
             {{ request.user.first_name }},
            <ul class="menu">
            <li {% if section == "dashboard" %}class="selected"{% endif %}><a href="{% url "dashboard" %}">My dashboard</a></li>
                 </ul>


        {% endif %}
        </span>
    </div>



    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>